environments:
  env:
    values:
      - ../environments/env-secrets.yaml
      - ../environments/env.yaml
---
templates:
  default: &default
    chart: ./{{`{{ .Release.Name }}`}}
    labels:
      target: ./{{`{{ .Release.Name }}`}}
    version: 0.1.0
    namespace: egov
    # This prevents helmfile exiting when it encounters a missing file
    # Valid values are "Error", "Warn", "Info", "Debug". The default is "Error"
    # Use "Debug" to make missing files errors invisible at the default log level(--log-level=INFO)
    missingFileHandler: Warn
    values:
      - {{ .Values | toYaml | nindent 8 }}

releases:
  - name: egov-accesscontrol
    installed: true
    <<: *default

  - name: audit-service
    installed: true
    <<: *default

  - name: egov-enc-service
    installed: true
    needs:
    - egov-mdms-service
    <<: *default

  - name: egov-filestore
    installed: true
    <<: *default

  - name: egov-idgen
    installed: true
    <<: *default

  - name: egov-localization
    installed: true
    <<: *default

  - name: egov-location
    installed: true
    <<: *default

  - name: egov-mdms-service
    installed: true
    <<: *default

  - name: egov-indexer
    installed: true
    <<: *default

  - name: egov-notification-mail
    installed: true
    <<: *default

  - name: egov-notification-sms
    installed: true
    <<: *default

  - name: egov-user
    installed: true
    needs:
    - egov-enc-service
    <<: *default

  - name: egov-otp
    installed: true
    <<: *default
  
  - name: egov-persister
    installed: true
    <<: *default

  - name: egov-url-shortening
    installed: true
    <<: *default

  - name: egov-workflow-v2
    installed: true
    needs:
    - egov-mdms-service
    <<: *default

  - name: user-otp
    installed: true
    <<: *default

  - name: configmaps
    installed: true
    <<: *default

  - name: service-request
    installed: true
    <<: *default

  - name: pdf-service
    installed: true
    <<: *default
  
  - name: gateway
    installed: true
    <<: *default

  - name: egov-pg-service
    installed: true
    <<: *default

  - name: mdms-v2
    installed: true
    <<: *default

  - name: boundary-service
    installed: true
    <<: *default
  
  - name: boundary-bulk-bff
    installed: true
    <<: *default





