# Common Labels
labels:
  app: "sanitation-ui"
  group: "web"

namespace: sanitation    

# Ingress Configs
ingress:
  enabled: true
  context: "sanitation-ui"
  namespace : egov

# Init Containers Configs
initContainers: {}

# Container Configs
image:
  repository: "sanitation-ui"
replicas: "1"
httpPort: 80
healthChecks:
  enabled: true
  livenessProbePath: "/sanitation-ui/"
  readinessProbePath: "/sanitation-ui/"

extraVolumes: |
  - name: js-injection
    configMap:
      name: sanitation-ui-js-injection

extraVolumeMounts: |
  - mountPath: /etc/nginx/conf.d/sub_filter.conf
    name: js-injection
    subPath: sub_filter.conf
