* @sathishp-eGov @subhashini-egov @jagankumar-egov

deploy-as-code/ @egovernments/works-dev-pr-reviewers

##Internal Env####
deploy-as-code/helm/environments/works-qa*.yaml  @egovernments/works-qa-pr-reviewers
deploy-as-code/helm/environments/works-dev*.yaml  @egovernments/works-dev-pr-reviewers
deploy-as-code/helm/environments/*-uat*.yaml  @egovernments/works-uat-pr-reviewers
deploy-as-code/helm/environments/mukta-*.yaml  @egovernments/works-uat-pr-reviewers

