# Common Labels
labels:
  app: "studio-pdf-helper-service"
  group: "rainmaker"

namespace: egov
# Ingress Configs
ingress:
  enabled: true
  zuul: true
  context: "studio-pdf-helper-service"

initContainers:
  dbMigration:
    enabled: true
    schemaTable: "studio_pdf_helper_service_schema"
    image:
      repository: "studio-pdf-helper-service-db"
# Container Configs
image:
  repository: "studio-pdf-helper-service"
replicas: "1"
memory_limits: "512Mi"
cpu_limits: "300m"

# Additional Container Envs
env: |
  - name: DB_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: db-host
  - name: DB_NAME
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: db-name
  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: db
        key: username
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db
        key: password
  - name: DB_PORT
    value: "5432"
  - name: KAFKA_BOOTSTRAP_SERVERS
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: kafka-brokers
  - name: GITHUB_TOKEN
    valueFrom:
      secretKeyRef:
        name: github-config
        key: gitToken
  - name: GITHUB_OWNER
    valueFrom:
      secretKeyRef:
        name: github-config
        key: gitOwner
  - name: GITHUB_CONFIG_REPO
    value: "configs"
  - name: GITHUB_CONFIG_BRANCH
    value: "UNIFIED-DEV"
  - name: GITHUB_CONFIG_BASE_PATH
    value: "pdf-service"
  - name: KUBE_API_URL
    value: "demo"
  - name: KUBE_TOKEN
    valueFrom:
      secretKeyRef:
        name: github-config
        key: kubeToken
  - name: KUBERNETES_NAMESPACE
    value: "egov"
  - name: SAVE_PDF_QR_GENERATOR
    value: "save-pdf-qr-generator"
  - name: DEVOPS_REPO_URL
    value: "https://github.com/egovernments/DIGIT-DevOps"
  - name: DEVOPS_REPO_BRANCH
    value: "test-pdf-upload-studio"
  - name: DEVOPS_REPO_PATH
    value: "./digit-devops"
  - name: YAML_FILE_PATH
    value: "./digit-devops/deploy-as-code/helm/environments/unified-dev.yaml"
