global:
  domain: builds.digit.org
cluster-configs:
  namespaces:
    create: false
    values: [ monitoring, jenkins ]
  root-ingress:
    namespace: jenkins
    serviceName: jenkins
    servicePort: 8080
    appRoot: ""
    cert-issuer: "letsencrypt-prod"
    
  git-sync:
    namespace: monitoring  

jenkins:
  persistence:
    enabled: true
    size: "200Gi"
    aws:
      - volumeId: "vol-060d0b69accaf98d0"
        zone: ap-south-1b
  oauth:
    enabled: true
    acl:
      admin:
        - egovernments*micro-service-devops
      user:
        - egovernments*micro-service-dev
        - egovernments*ukd-uat
        - egovernments*bihar-uat
        - egovernments*tarranto-dev
        - egovernments*tarrento-ws-dev-team
        - egovernments*egov-web-app
        - egovernments*wt-ws-dev-team
        - egovernments*Devops-partner
        - egovernments*micro-service-qa
        - egovernments*micro-service-uat
        - egovernments*pb-uat
        - egovernments*up-team
        - egovernments*nugp-team
        - egovernments*ifix-team
        - egovernments*mgramseva-team
        - egovernments*fsm-uat
        - egovernments*health-dev
        - egovernments*single-instance
        - egovernments*works
        - egovernments*mgramsewa-dev
        - egovernments*mgramsewa-qa
        - egovernments*mgramsewa-uat
        - egovernments*bihar-mgramseva-uat
        - egovernments*core-team
        - egovernments*internal-devops-team
        - egovernments*unified-dev
        - egovernments*jenkins-user

  jobBuilder:
    repos: >-
      'git@github.com:HCM-MOZ-IMPEL/DIGIT-Dev-Moz-Impl.git','git@github.com:egovernments/core-services.git','git@github.com:egovernments/business-services.git','git@github.com:egovernments/municipal-services.git','git@github.com:egovernments/utilities.git','git@github.com:egovernments/frontend.git','git@github.com:egovernments/DIGIT-Dev.git', 'git@github.com:egovernments/eGov-Punjab-Implementation.git', 'git@github.com:egovernments/covid-backend.git','git@github.com:egovernments/requester-dashboard.git','git@github.com:egovernments/approver-dashboard.git','git@github.com:eNagarsewaU/ukd-rainmaker-customization.git','git@github.com:egovernments/punjab-rainmaker-customization.git', 'git@github.com:egovernments/egov-coexistence.git','git@github.com:egovernments/eGov-UP-Implementation.git', 'git@github.com:egovernments/test-automation.git', 'git@github.com:egovernments/CoronaSafe.git', 'git@github.com:egovernments/eGov-dcr-service.git', 'git@github.com:eNagarsewaU/DIGIT-UKD.git', 'git@github.com:egovernments/digit-ui.git', 'git@github.com:egovernments/DIGIT-Works.git', 'git@github.com:egovernments/health-campaign-services.git','git@github.com:egovernments/punjab-mgramseva.git','git@github.com:egovernments/SANITATION.git','git@github.com:egovernments/Digit-Core.git','git@github.com:egovernments/iFix-Dev.git','git@github.com:egovernments/bihar-mgramseva.git','git@github.com:egovernments/HCM-Mozambique-Implementation.git','git@github.com:odisha-muktasoft/mukta-customization.git','git@github.com:odisha-muktasoft/MUKTA_IMPL.git','git@github.com:pmidc-digit/DIGIT-PUNJAB.git','git@github.com:egovernments/DIGIT-Frontend.git'
  deploymentJobs:
    - name: dev
      acl: [egovernments*micro-service-dev]
    - name: unified-dev
      acl: [egovernments*core-team,egovernments*internal-devops-team,egovernments*unified-dev]
    - name: bihar-prod
      acl: [egovernments*bihar-prod]
    - name: bihar-dev
      acl: [egovernments*bihar-dev]
    - name: bihar-uat
      acl: [egovernments*bihar-uat]
    - name: qa
      acl: [egovernments*micro-service-qa] 
    - name: uat
      acl: [egovernments*micro-service-uat] 
    - name: ukd-dev
      acl: [egovernments*ukd-dev] 
    - name: ukd-prod-sdc
      acl: [egovernments*ukd-prod] 
    - name: ukd-sdc-uat
      acl: [egovernments*ukd-uat]                 
    - name: ci
      acl: [egovernments*micro-service-devops]      
    - name: ukd-dev-sdc
      acl: [egovernments*ukd-dev]
    - name: staging
      acl: [egovernments*staging-qa] 
    - name: central-instance
      acl: [egovernments*micro-service-dev,egovernments*micro-service-qa]
    - name: statea
      acl: [egovernments*micro-service-dev,egovernments*micro-service-qa]
    - name: digit
      acl: [egovernments*micro-service-dev,egovernments*micro-service-qa]
    - name: stateb
      acl: [egovernments*micro-service-dev,egovernments*micro-service-qa]    
    - name: fsm-uat
      acl: [egovernments*fsm-uat]
    - name: core
      acl: [egovernments*core]      
    - name: works-dev
      acl: [egovernments*works]
    - name: health-dev
      acl: [egovernments*health-dev]
    - name: works-qa
      acl: [egovernments*works-qa]
    - name: single-instance
      acl: [egovernments*single-instance]
    - name: health-qa
      acl: [egovernments*health-qa]
    - name: health-demo
      acl: [egovernments*health-uat]
    - name: mgramseva-dev
      acl: [egovernments*mgramsewa-dev]
    - name: ifix-dev
      acl: [egovernments*mgramsewa-dev]  
    - name: mgramseva-qa
      acl: [egovernments*mgramsewa-qa,egovernments*mgramsewa-dev]  
    - name: pspcl-qa
      acl: [egovernments*mgramsewa-qa,egovernments*mgramsewa-dev]  
    - name: pspcl-ifix-uat
      acl: [egovernments*mgramsewa-uat]
    - name: ifix-qa
      acl: [egovernments*mgramsewa-qa,egovernments*mgramsewa-dev]
    - name: mgramseva-uat
      acl: [egovernments*mgramsewa-uat]
    - name: ifix-uat
      acl: [egovernments*mgramsewa-uat]
    - name: bihar-mgramseva-uat
      acl: [egovernments*bihar-mgramseva-uat]
    - name: mukta-uat
      acl: [egovernments*mukta-uat]
    - name: works-uat
      acl: [egovernments*works-uat]
    - name: sanitation
      acl: [egovernments*sanitation-dev]
    - name: mukta-prod
      acl: [egovernments*mukta-prod]
    - name: unified-works-dev
      acl: [egovernments*unified-works-dev]
    - name: unified-health-dev
      acl: [egovernments*unified-health-dev]
    - name: unified-urban-dev
      acl: [egovernments*unified-urban-dev]
    - name: punjab-fsm
      acl: [egovernments*punjab-fsm]
    - name: moz-health-qa
      acl: [egovernments*moz-health-cicd]
    - name: moz-health-dev
      acl: [egovernments*moz-health-cicd]
    - name: moz-health-uat
      acl: [egovernments*moz-health-cicd]
    - name: unified-qa
      acl: [egovernments*unified-qa]
    - name: unified-urban-qa
      acl: [egovernments*unified-urban-qa]
    - name: unified-works-qa
      acl: [egovernments*unified-works-qa]
    - name: unified-health-qa
      acl: [egovernments*unified-health-qa]
    - name: sanitation-qa
      acl: [egovernments*sanitation-qa]
    - name: sanitation-uat
      acl: [egovernments*sanitation-uat]
    - name: unified-uat
      acl: [egovernments*unified-uat]
    - name: unified-works-uat
      acl: [egovernments*unified-works-uat]
    - name: unified-health-uat
      acl: [egovernments*unified-health-uat]
    - name: unified-urban-uat
      acl: [egovernments*unified-urban-uat]

  deployjobBuilder:
    repo: >-
      'git@github.com:egovernments/DIGIT-DevOps.git' 

   
  master:
    ingress:
      enabled: true
    resources:
      limits:
        cpu: "2500m"
        memory: "5120Mi"
    javaOpts: "-Xms3100M -Xmx3100M -Duser.timezone=Asia/Calcutta"

nginx-ingress:
  replicas: 1
  default-backend-service: "jenkins/jenkins"
  namespace: jenkins
  cert-issuer: "letsencrypt-staging"
  ssl-protocols: "TLSv1.2 TLSv1.3"
  ssl-ciphers: "EECDH+CHACHA20:EECDH+AES"
  ssl-ecdh-curve: "X25519:prime256v1:secp521r1:secp384r1"
  controller:
    image:
      repository: egovio/nginx-ingress-controller
      tag: "0.26.1"

cert-manager:
  namespace: jenkins
  email: "devops-team@egov.org.in"

cluster-autoscaler:
  namespace: jenkins
  cloudProvider: aws  
  awsRegion: ap-south-1
  autoDiscovery:
    clusterName: egov-cicd
    tags:
    - kubernetes.io/cluster/egov-cicd

postgres:
  namespace: jenkins
  postgresDatabase: ci_database

grafana: 
  image:
    repository: grafana/grafana
    tag: 9.0.0

  initContainers:
    gitSync:
      enabled: true
      repo: "git@github.com:egovernments/monitoring"
      branch: "master"

  ingress:
    hostName: monitoring.digit.org 
    context: ""
    additionalAnnotations: | 

  grafana.ini:
    server:
      root_url: "%(protocol)s://%(domain)s"
      serve_from_sub_path: true 

  env: |
    - name: GF_SERVER_DOMAIN
      value: {{ .Values.ingress.hostName | quote }}    

  datasources: 
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: DIGIT-Dev
        type: prometheus
        url: https://prometheus-dev.digit.org
        isDefault: false 
      - name: DIGIT-QA
        type: prometheus
        url: https://prometheus-qa.digit.org
        isDefault: false
      - name: DIGIT-UAT
        type: prometheus
        url: https://prometheus-uat.digit.org
        isDefault: false
      - name: DIGIT-Staging
        type: prometheus
        url: https://prometheus-staging.digit.org
        isDefault: false
    
     


       
