global:
  domain: central-builds.digit.org
cluster-configs:
  namespaces:
    create: false
    values: [ monitoring, jenkins ]
  root-ingress:
    namespace: jenkins
    serviceName: jenkins
    servicePort: 8080
    appRoot: ""
    cert-issuer: "letsencrypt-prod"

jenkins:
  persistence:
    enabled: true
    aws:
      - volumeId: "vol-05e8fb80b1cf42f26"
        zone: ap-south-1b
  oauth:
    enabled: true
    acl:
      admin:
        - egovernments*micro-service-devops
      user:     
        - egovernments*micro-service-uat
        

  jobBuilder:
    repos: >-
      'git@github.com:egovernments/DIGIT.git'

  deploymentJobs:  
    - name: central-instance
      acl: [egovernments*micro-service-uat] 
     
       
  master:
    ingress:
      enabled: true
    resources:
      limits:
        cpu: "2000m"
        memory: "4096Mi"
    javaOpts: "-Xms2560M -Xmx2560M -Duser.timezone=Asia/Calcutta"

nginx-ingress:
  replicas: 1
  default-backend-service: "jenkins/jenkins"
  namespace: jenkins
  cert-issuer: "letsencrypt-staging"
  ssl-protocols: "TLSv1.2 TLSv1.3"
  ssl-ciphers: "EECDH+CHACHA20:EECDH+AES"
  ssl-ecdh-curve: "X25519:prime256v1:secp521r1:secp384r1"
  controller:
    image:
      repository: egovio/nginx-ingress-controller
      tag: "0.26.1"

cert-manager:
  namespace: jenkins
  email: "nikesh.umredkar@egovernments.org"

cluster-autoscaler:
  namespace: jenkins
  cloudProvider: aws  
  awsRegion: ap-south-1
  autoDiscovery:
    clusterName: egov-cicd
    tags:
    - kubernetes.io/cluster/egov-cicd

postgres:
  namespace: jenkins
  postgresDatabase: ci_database
