
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: "{{ template "name" . }}-pdb"
  namespace: {{ .Values.namespace }}  
  labels:
    app: {{ template "name" . }}
spec:
  selector:
    matchLabels:
      app: {{ template "name" . }}
  maxUnavailable: 1