{{- if and .Values.alertmanager.enabled .Values.alertmanager.ingress.enabled }}
{{- $serviceName := printf "%s-%s" (include "prometheus-operator.fullname" .) "alertmanager" }}
{{- $servicePort := .Values.alertmanager.service.port -}}
{{- $routePrefix := .Values.alertmanager.alertmanagerSpec.routePrefix }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Values.namespace }}  
  annotations:
{{- if .Values.alertmanager.ingress.additionalAnnotations }}                                   
  {{- tpl  .Values.alertmanager.ingress.additionalAnnotations . | nindent 4 }}
{{- end }} 
  labels:
    app: {{ template "prometheus-operator.name" . }}-alertmanager                      
spec:
  rules:  
  - host: {{ .Values.global.domain }}
    http:
      paths:
      - backend:
          service:
            name: {{ $serviceName }}
            port:
              number: {{ $servicePort }}         
        path: /
        pathType: Prefix
{{- if ne $.Values.global.setup "quickstart" }}
  tls:
  - hosts:
    - {{ .Values.global.domain }}
    secretName: {{ .Values.global.domain }}-tls-certs 
{{- end -}} 
{{- end -}} 
