# Common Labels
labels:
  app: "egov-bndry-mgmnt"
  group: "rainmaker"

namespace: urban

# Ingress Configs
ingress:
  namespace: egov
  enabled: true
  zuul: true
  context: "egov-bndry-mgmnt"
  additionalAnnotations: |
    nginx.ingress.kubernetes.io/proxy-body-size: "20m"

# Init Containers Configs
initContainers:
  dbMigration:
    enabled: true
    schemaTable: "egov-bndry-mgmnt_schema"
    image:
      repository: "egov-bndry-mgmnt-db"

# Container Configs
image:
  repository: "egov-bndry-mgmnt"
replicas: "1"
appType: "java-spring"
tracing-enabled: true
heap: '-Xmx1000m -Xms756m'
memory_limits: '1Gi'
cpu_limits: '756m'

# Additional Container Envs
env: |
  - name: KAFKA_BROKER_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: kafka-brokers 
  - name: KAFKA_CREATE_PROCESSED_BOUNDARY_MANAGEMENT_TOPIC
    value: create-processed-boundary-management-urban
  - name: KAFKA_UPDATE_PROCESSED_BOUNDARY_MANAGEMENT_TOPIC
    value: update-processed-boundary-management-urban
  - name: KAFKA_UPDATE_GENERATED_BOUNDARY_MANAGEMENT_TOPIC
    value: update-generated-boundary-management-urban
  - name: KAFKA_CREATE_GENERATED_BOUNDARY_MANAGEMENT_TOPIC
    value: create-generated-boundary-management-urban
  - name: EGOV_MDMS_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-mdms-service   
  - name: EGOV_MDMS_V2_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: mdms-service-v2      
  - name: EGOV_FILESTORE_SERVICE_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-filestore
  - name: EGOV_BOUNDARY_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: boundary-service
  - name: EGOV_LOCALIZATION_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-localization
  - name: CONTEXT_PATH
    value: "/egov-bndry-mgmnt"
  - name: FILE_STORE_SERVICE_END_POINT
    value: filestore/v1/files 
  - name: EGOV_MDMS_V2_SEARCH_ENDPOINT
    value: {{ .Values.mdmsV2SearchEndpoint | default "egov-mdms-service/v2/_search" }}
  - name: EGOV_MDMS_V2_CREATE_ENDPOINT
    value: {{ .Values.mdmsV2CreateEndpoint | default "egov-mdms-service/v2/_create" }}
  - name: EGOV_MDMS_V2_UPDATE_ENDPOINT
    value: {{ .Values.mdmsV2UpdateEndpoint | default "egov-mdms-service/v2/_update" }}
  - name: EGOV_MDMS_V1_SEARCH_ENDPOINT
    value: {{ .Values.mdmsV1SearchEndpoint | default "egov-mdms-service/v1/_search" }}
  - name: EGOV_MDMS_SCHEMA_PATH
    value: {{ .Values.mdmsV1SchemaSearchEndpoint | default "egov-mdms-service/schema/v1/_search" }}
  - name: EGOV_BOUNDARY_RELATIONSHIP_SEARCHPATH
    value: boundary-service/boundary-relationships/_search
  - name: EGOV_BOUNDARY_SERVICE_SEARCHPATH
    value: boundary-service/boundary/_search
  - name: EGOV_BOUNDARY_HIERARCHY_SEARCHPATH
    value: boundary-service/boundary-hierarchy-definition/_search
  - name: EGOV_BOUNDARY_ENTITY_SEARCHPATH
    value: boundary-service/boundary/_search
  - name: EGOV_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: egov-services-fqdn-name
  - name: "DB_URL"
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: db-url
  - name: "SCHEMA_TABLE"
    value: {{ .Values.initContainers.dbMigration.schemaTable | quote }}
  - name: "FLYWAY_USER"
    valueFrom:
      secretKeyRef:
          name: db
          key: flyway-username
  - name: "FLYWAY_PASSWORD"
    valueFrom:
      secretKeyRef: 
          name: db
          key: flyway-password
  - name: "FLYWAY_LOCATIONS"
    valueFrom: 
      configMapKeyRef: 
          name: egov-config
          key: flyway-locations
  - name: DB_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: db-host
  - name: DB_NAME
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: db-name
  - name: DB_USER
    valueFrom:
      secretKeyRef:
        name: db
        key: username
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db
        key: password   
  - name: DB_PORT
    value: "5432"
  - name: SPLIT_BOUNDARIES_ON_LENGTH 
    value: "2"
  - name: BOUNDARY_TAB_NAME
    value: "CRS_BOUNDARY_DATA"
  - name: LOCALE
    value: {{ .Values.defaultLocale | default "en_IN" }} 
  - name: LOCALIZATION_MODULE
    value: "crs-admin-schemas"
  - name: LOCALIZATION_WAIT_TIME_IN_BOUNDARY_CREATION
    value: "30000"
  - name: LOCALIZATION_CHUNK_SIZE_FOR_BOUNDARY_CREATION
    value: "2000"
  - name: APP_LOG_LEVEL
    value: {{ .Values.logLevel | default "info" }} 
  - name: APP_MAX_DEBUG_CHAR
    value: "{{ .Values.maxDebugChar | default "500" }}"
  - name: DEBUG
    value: "{{ .Values.DEBUG | default "false" }}" 
  - name: DEFAULT_TENANT_ID
    value: {{ .Values.defaultTenantId | default "mz" }} 

    
  - name: CACHE_ENABLED
    value: "true"
  - name: RESET_CACHE
    value: "true"
  - name: REDIS_PORT
    value: "6379"
  - name: REDIS_HOST
    value: "redis.backbone"
  - name: AUTO_RETRY_IF_HTTP_ERROR
    value: "socket hang up"
  - name: EXCLUDE_HIERARCHY_TYPE_FROM_BOUNDARY_CODES
    value: {{ .Values.ExcludeHierarchyTypeFromBoundaryCodes | default "false" | quote }}
  - name: EXCLUDE_BOUNDARY_NAME_AT_LAST_FROM_BOUNDARY_CODES
    value: {{ .Values.ExcludeBoundaryTypeFromLastBoundaryCodes | default "false" | quote }}
  - name: VALIDATE_CAMPAIGN_ID_IN_METADATA
    value: {{ .Values.validateCampaignIdInMetadata | default "false" | quote }}
