{{- with index .Values "cluster-configs" "secrets" "home-isolation-notification-mail" }}
{{- if index . "mailsenderusername" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  mailsenderpassword: {{ index . "mailsenderpassword" | b64enc | quote }}
  mailsenderusername: {{ index . "mailsenderusername" | b64enc | quote }}
{{- end }}
{{- end }}
