{{- with index .Values "cluster-configs" "secrets" "vault-root-token" }}
{{- if index . "token" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
 token: {{ index . "token" | b64enc | quote }}
{{- end }}
{{- end }}