KUBE_API_ADDRESS="--address=0.0.0.0"
KUBE_API_PORT="--port=8080"
KUBELET_PORT="--kubelet_port=10250"
KUBE_ETCD_SERVERS="--etcd_servers={{ groups['etcd'] | map('map_format', 'http://%s:2379') | join(',') }}"
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ service_cluster_ip_range }}"
KUBE_ADMISSION_CONTROL="--admission_control={{ admission_control }}"
KUBE_API_ARGS="{{ api_args }}"