*  @gajendran-egov @nithindv
*.yaml  @gajendran-egov @nithindv
##Internal Env####
helm/environments/qa.yaml @sathishp-eGov
helm/environments/uat.yaml @sathishp-eGov
helm/environments/staging.yaml @sathishp-eGov
helm/environments/dev.yaml @sathishp-eGov
##UKD ENV#####
helm/environments/ukd-dev-sdc.yaml @satyamashish-egov @elzanmathew-eGov
helm/environments/ukd-dev.yaml @satyamashish-egov @elzanmathew-eGov
helm/environments/ukd-prod-sdc.yaml @satyamashish-egov @elzanmathew-eGov
helm/environments/ukd-prod.yaml @satyamashish-egov @elzanmathew-eGov
helm/environments/ukd-sdc-uat.yaml @satyamashish-egov @elzanmathew-eGov
helm/environments/ukd-uat.yaml @satyamashish-egov @elzanmathew-eGov
##PB Env#######
helm/environments/pb-prod-v2.yaml @ramakrishnaippili-eGov @elzanmathew-eGov
helm/environments/pb-prod.yaml @ramakrishnaippili-eGov @elzanmathew-eGov
helm/environments/pb-qa.yaml @ramakrishnaippili-eGov @elzanmathew-eGov
helm/environments/pb-uat-v2.yaml @ramakrishnaippili-eGov @elzanmathew-eGov
helm/environments/pb-uat.yaml @ramakrishnaippili-eGov @elzanmathew-eGov
##Bihar Env#####
helm/environments/bihar-uat.yaml @pradeep-egov @elzanmathew-eGov
helm/environments/bihar-prod.yaml @pradeep-egov @elzanmathew-eGov
helm/environments/bihar-dev.yaml @pradeep-egov @elzanmathew-eGov

