# Common Labels
labels:
  app: "pgr-ai-chatbot"
  group: "rainmaker"

# Ingress Configs
ingress:
  enabled: true
  zuul: false
  context: "pgr-ai-chatbot"

# Container Configs
image:
  repository: "pgr-ai-chatbot"
replicas: "1"
healthChecks:
  enabled: false
appType: "python"

# Additional Container Envs
env: |
  - name: OPENAI_API_KEY
    valueFrom: 
      secretKeyRef:
        name: pgr-ai-chatbot
        key: openai_api_key
  - name: TELEGRAM_BOT_TOKEN
    valueFrom: 
      secretKeyRef:
        name: pgr-ai-chatbot
        key: telegram_bot_token
  - name: BHASHINI_KEY
    valueFrom:
      secretKeyRef:
        name: pgr-ai-chatbot
        key: bhashini_api_key
  - name: REDIS_HOST
    value: redis.backbone
  - name: USERNAME
    valueFrom:
      secretKeyRef:
        name: pgr-ai-chatbot
        key: user_name
  - name: PASSWORD
    valueFrom:
      secretKeyRef:
        name: pgr-ai-chatbot
        key: password 
  