{{- define "common.vpa" -}}
{{- if .Values.vpa.enabled -}}

--
apiVersion: autoscaling.k8s.io/v1beta2
kind: VerticalPodAutoscaler
metadata:
  name: {{ template "common.name" . }}
  namespace: {{ .Values.namespace }} 
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind:       Deployment
    name:      {{ template "common.name" . }}
  updatePolicy:
    updateMode: {{ .Values.vpa.updateMode | quote }}
{{- end -}}
{{- end -}}
