# Common Labels
labels:
  app: "keycloak"
  group: "keycloak"
namespace: keycloak

# Ingress Configs
ingress:
  enabled: true
  zuul: false
  context: "keycloak"

# Container Configs
image:
  repository: "keycloak"
replicas: "1"
events-listeners: "jboss-logging,register-citizen-listener"

resources: |
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "200m"
    memory: "512Mi"
    
# Additional Container Envs
env: |  
  - name: SERVER_PORT
    value: "8080"
  - name: KC_PROXY
    value: "edge"
  - name: KC_HTTP_RELATIVE_PATH
    value: "/keycloak"
  - name: KC_DB_URL
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: kc-db-url
  - name: KC_DB
    value: "postgres"
  - name: DB_PORT
    value: "5432"
  - name: KC_DB_USERNAME
    valueFrom:
      secretKeyRef:
        name: kc-db
        key: username
  - name: KC_DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: kc-db
        key: password
  - name: KEYCLOAK_ADMIN
    valueFrom:
      secretKeyRef:
        name: kc-admin
        key: username
  - name: KEYCLOAK_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: kc-admin
        key: password
  - name: KC_EVENTS_LISTENERS
    value: {{ index .Values "events-listeners" | quote }}
  - name: KC_SPI_EVENTS_LISTENER_REGISTER_CITIZEN_LISTENER_ENABLED
    value: "true"
  - name: KAFKA_BOOTSTRAP_SERVERS
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: kafka-brokers
  - name: KC_FEATURES
    value: "token-exchange,admin-fine-grained-authz"   
  - name: OTEL_TRACES_EXPORTER
    value: "none"
  - name: SPRING_DATASOURCE_DRIVER_CLASS_NAME
    value: "org.postgresql.Driver"   