# Common Labels
labels:
  app: "ws-services"
  group: "rainmaker"

# Ingress Configs
ingress:
  enabled: true
  zuul: true
  context: "ws-services"

# Init Containers Configs
initContainers:
  dbMigration:
    enabled: true
    schemaTable: "ws_services_schema"
    image:
      repository: "ws-services-db"

# Container Configs
image:
  repository: "ws-services"
replicas: "1"
healthChecks:
  enabled: true
  livenessProbePath: "/ws-services/health"
  readinessProbePath: "/ws-services/health"
appType: "java-spring"
tracing-enabled: true
heap: "-Xmx192m -Xms192m"
java-args: "-Dspring.profiles.active=monitoring"

# Additional Container Envs
env: |
  - name: EGOV_IDGEN_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-idgen
  - name: STATE_LEVEL_TENANT_ID
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: egov-state-level-tenant-id
  - name: EGOV_PROPERTY_SERVICE_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: property-services
  - name: EGOV_MDMS_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-mdms-service
  - name: EGOV_USER_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-user
  - name: EGOV_LOCATION_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-location
  - name: EGOV_LOCALIZATION_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-localization
  - name: EGOV_URL_SHORTNER_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-url-shortening
  - name: EGOV_UI_PATH
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: egov-services-fqdn-name
  - name: EGOV_BILLINGSERVICE_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: billing-service
  - name: EGOV_WS_CALCULATION_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: ws-calculator
  - name: SMS_PENDING_COLLECTION_ENABLED
    value: {{ index .Values "sms-pending-collection-enabled" | quote }} 
  - name: SMS_TODAYS_COLLECTION_ENABLED
    value: {{ index .Values "sms-todays-collection-enabled" | quote }}
  - name: SMS_EDIT_WATER_CONNECTION_NOTIFICATION_ENABLED
    value: {{ index .Values "sms-edit-water-connection-notification-enabled" | quote }}
  - name: SMS_PAYMENT_NOTIFICATION_ENABLED
    value: {{ index .Values "sms-payment-notification-enabled" | quote }}
  - name: SMS_WORKFLOW_ENABLED
    value: {{ index .Values "sms-workflow-enabled" | quote }}
  - name: SMS_FEEDBACK_NOTIFICATION_ENABLED
    value: {{ index .Values "sms-feedback-notification-enabled" | quote }}
  - name: EGOV_FILESTORE_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-filestore
  - name: EGOV_PDFSERVICE_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: pdf-service
  - name: EGOV_MGRAMSEVA_APPL_DOMAIN
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: egov-services-fqdn-name
  - name: EGOV_ES_HOST
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: es-indexer-host
  - name: EGOV_MGRAMSEVA_UI_PATH
    value: mgramseva/login
  - name: WORKFLOW_CONTEXT_PATH
    valueFrom:
      configMapKeyRef:
        name: egov-service-host
        key: egov-workflow-v2
  {{- if index .Values "global" "tracer-errors-provideexceptionindetails" }}
  - name: TRACER_ERRORS_PROVIDEEXCEPTIONINDETAILS
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: tracer-errors-provideexceptionindetails
  {{- end }}
  - name: SPRING_KAFKA_CONSUMER_GROUP_ID
    value: egov-ws-services
  - name: EGOV_WATERSERVICE_CREATEWATERCONNECTION
    value: save-ws-connection-mgramseva
  - name: EGOV_WATERSERVICE_UPDATEWATERCONNECTION
    value: update-ws-connection-mgramseva
  - name: SPRING_KAFKA_PRODUCER_KEY_SERIALIZER
    value: org.apache.kafka.common.serialization.StringSerializer
  - name: SPRING_KAFKA_PRODUCER_VALUE_SERIALIZER
    value: org.springframework.kafka.support.serializer.JsonSerializer
  - name: JAVA_OPTS
    value: {{ index .Values "heap" | quote }}
  - name: JAVA_ARGS
    value: {{ index .Values "java-args" | quote }}
  - name: SERVER_PORT
    value: "8080"
  - name: NOTIFICATION_URL
    valueFrom:
      configMapKeyRef:
        name: egov-config
        key: egov-services-fqdn-name
  - name: SECURITY_BASIC_ENABLED
    value: "false"
  - name: MANAGEMENT_SECURITY_ENABLED
    value: "false"
  {{- if index .Values "tracing-enabled" }}
  - name: TRACER_OPENTRACING_ENABLED
    value: "true"
  {{- end }}
  - name: IS_EXTERNAL_WORKFLOW_ENABLED
    value: {{ index .Values "is-external-workflow-enabled" | quote }}
