{{- define "common.deployment" -}}
{{- $envOverrides := index .Values (tpl .Chart.Name .) -}} 
{{- $baseCommonValues := .Values.common | deepCopy -}}
{{- $values := dict "Values" (mustMergeOverwrite $baseCommonValues .Values $envOverrides) -}}
{{- with mustMergeOverwrite . $values }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
spec:
{{- if eq (.Values.replicas | int) 1 }}
  strategy:
    rollingUpdate:
      maxUnavailable: 0
{{- end }}      
  replicas: {{ .Values.replicas }}
  template:
    metadata:  
      labels:
      {{- include "common.labels" . | nindent 8 }}            
    spec:
    {{- if .Values.initContainers.gitSync.enabled }}
      securityContext:
        fsGroup: 65533 # to make SSH key readable 
    {{- end }} 
    {{- if or .Values.initContainers.gitSync.enabled .Values.extraVolumes }}     
      volumes:  
    {{- if .Values.initContainers.gitSync.enabled }}  
      - name: git-secret
        secret:
          secretName: git-creds
          defaultMode: 288 # = mode 0440
      - name: workdir
        emptyDir: {}               
    {{- end }}     
      {{- with .Values.extraVolumes }}
        {{- tpl . $ | nindent 8 }}
      {{- end }}     
    {{- end }}        
    {{- if .Values.affinity.preferSpreadAcrossAZ }}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              topologyKey: "failure-domain.beta.kubernetes.io/zone"
              labelSelector:
                matchLabels:
                {{- include "common.labels" . | nindent 18 }}     
    {{- end }}  
      initContainers:
      {{- with .Values.initContainers.extraInitContainers }}
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      {{- if .Values.initContainers.dbMigration.enabled }}
      - name: "db-migration"
        image: "{{ .Values.initContainers.dbMigration.image.repository }}:{{ .Values.initContainers.dbMigration.image.tag }}"
        imagePullPolicy: {{ .Values.initContainers.dbMigration.image.pullPolicy }}   
        {{- if .Values.initContainers.dbMigration.env }}               
        env: 
          {{- tpl  .Values.initContainers.dbMigration.env . | nindent 12 }}
        {{- end }}
      {{- end }}        
      {{- if .Values.initContainers.gitSync.enabled }}
      - name: "git-sync"
        image: "{{ .Values.initContainers.gitSync.image.repository }}:{{ .Values.initContainers.gitSync.image.tag }}"
        imagePullPolicy: {{ .Values.initContainers.gitSync.image.pullPolicy }}   
        securityContext:
          runAsUser: 65533 # git-sync user
        volumeMounts:
        - name: git-secret
          mountPath: /etc/git-secret              
        - name: workdir
          mountPath: "/work-dir"                   
        {{- if .Values.initContainers.gitSync.env }}               
        env: 
          {{- tpl  .Values.initContainers.gitSync.env . | nindent 12 }}
        {{- end }}        
      {{- end }}            
      containers:
      {{- with .Values.extraContainers }}
        {{- tpl . $ | nindent 8 }}
      {{- end }}      
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.httpPort }}
              protocol: TCP
      {{- if .Values.healthChecks.enabled }}              
          readinessProbe:
          {{- tpl  .Values.healthChecks.readinessProbe . | nindent 12 }} 
          livenessProbe:
          {{- tpl  .Values.healthChecks.livenessProbe . | nindent 12 }}                      
       {{- end }}       
        {{- if .Values.lifecycle }}
          lifecycle:
          {{- toYaml .Values.lifecycle | nindent 12 }}
        {{- end }}      
        {{- if or .Values.initContainers.gitSync.enabled .Values.extraVolumeMounts }}
          volumeMounts:              
        {{- if .Values.initContainers.gitSync.enabled }}            
          - name: workdir
            mountPath: "/work-dir"
        {{- end }}             
        {{- with .Values.extraVolumeMounts }}
          {{- tpl . $ | nindent 12 }}
        {{- end }}          
        {{- end }}                              
          env:  
        {{- if .Values.env }}                                   
          {{- tpl  .Values.env . | nindent 12 }}
        {{- end }}             
        {{- if eq .Values.appType "java-spring" }} 
          {{- tpl  .Values.extraEnv.java . | nindent 12 }}         
        {{- end -}} 
        {{- if index .Values "tracing-enabled" }} 
          {{- tpl  .Values.extraEnv.jaeger . | nindent 12 }}         
        {{- end }}                     
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- end -}}
{{- end -}}
