# Default values for egov-edcr.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
namespace: urban

# Common Labels
labels:
  app: "egov-edcr"

# Container Configs
image:
  repository: "egov-edcr"
  pullPolicy: IfNotPresent
  tag: latest
replicas: "1"
httpPort: 8080

resources: |
  limits:
    cpu: "300m"
    memory: "1Gi"
  requests:
    cpu: "300m"
    memory: "1Gi"

min-pool-connection: "5"
max-pool-connection: "5"
heap: "-Xmx512m -Xms192m"
java-args: "-Dspring.profiles.active=monitoring"
env: |
  - name: DB_URL
    valueFrom: 
      configMapKeyRef: 
        name: egov-config
        key: bpa-db-url
  - name: DB_USERNAME
    valueFrom: 
      secretKeyRef: 
        name: db
        key: username
  - name: DB_PASSWORD
    valueFrom: 
      secretKeyRef: 
        name: db
        key: password
  - name: NO_TXN_DB_URL
    valueFrom: 
      configMapKeyRef: 
        name: egov-config
        key: bpa-db-url   
  - name: NO_TXN_DB_USER
    valueFrom: 
      secretKeyRef: 
        name: db
        key: username
  - name: NO_TXN_DB_PASSWORD 
    valueFrom: 
      secretKeyRef: 
        name: db
        key: password
  - name: min-pool-size
    value: {{ index .Values "min-pool-connection" | quote }}
  - name: max-pool-size
    value: {{ index .Values "max-pool-connection" | quote }}
  - name: JAVA_OPTS
    value: {{ index .Values "heap" | quote }}
  - name: JAVA_ARGS
    value: {{ index .Values "java-args" | quote }}
healthChecks:
  enabled: true
  livenessProbePath: "/"
  readinessProbePath: "/"

extraVolumeMounts: |
  - mountPath: /opt/jboss/wildfly/modules/system/layers/base/org/egov/settings/main/config/egov-erp-override.properties
    name: edcr-override-config
    subPath: egov-erp-override.properties 
extraVolumes: |
  - name: edcr-override-config
    configMap:
      name: egov-edcr-config        


scheduler: false
dev_mode: false
jpa_showSql: false
master_server: true
sms: true
mail: true
captcha: low
redis_host: redis.backbone 
redis_port: 6379
statewide_migration: true
state_migration: true
state_schema: state
multitenancy: true
db_flyway: false
    
  
elastic_config: |
  #elasticsearch.hosts=elasticsearch-client-v1.es-cluster
  #elasticsearch.port=9200
  #elasticsearch.cluster.name=elasticsearch-v1
  elasticsearch.enable=false
  
elastic_search_config: |
  elasticsearch.enable=false
  search.index.q=java:/jms/queue/searchindex
  #search.hosts=elasticsearch-client-v1.es-cluster
  #search.port=9200
  #search.clusterName=elasticsearch-v1


tenants: |
  common.domain.name=unified-qa.digit.org
  #tenant.egov-dcr-mercury.egovernments.org=mercury
  #tenant.egov-dcr-jupiter.egovernments.org=jupiter
  tenant.unified-qa.digit.org=state
  client.id=pg
  tenant.citya.unified-qa.digit.org=citya
  tenant.cityb.unified-qa.digit.org=cityb
  #location.user.role=Collection Operator
  collection.debitaccounthead.client.impl.class=org.egov.collection.integration.services.DebitAccountHeadDetailsServiceImpl

edcrmicroservice: |
  ms.url=http://egov-filestore.egov:8080/
  filestoreservice.beanname=egovMicroServiceStore
  mdms.enable=true
  mdms.host=http://egov-mdms-service.egov:8080/
  mdms.searchurl=egov-mdms-service/v1/_search


# Ingress Configs
ingress:
  namespace: egov
  enabled: true
  zuul: false
  waf: 
    enabled: false
  additionalAnnotations: |
    nginx.ingress.kubernetes.io/proxy-body-size: 8m
  context: "egi"
  

