[etcd]
172.28.128.3 ansible_user=vagrant ansible_ssh_private_key_file=/Users/sumansn/work/egov/microservices/kubernetes/etcd/.vagrant/machines/default/virtualbox/private_key

[master]
172.28.128.4 ansible_user=vagrant ansible_ssh_private_key_file=/Users/sumansn/work/egov/microservices/kubernetes/master/.vagrant/machines/default/virtualbox/private_key

[minion]
172.28.128.5 ansible_user=vagrant ansible_ssh_private_key_file=/Users/sumansn/work/egov/microservices/kubernetes/minion1/.vagrant/machines/default/virtualbox/private_key hostname=minion1 unique_nic=eth1
172.28.128.6 ansible_user=vagrant ansible_ssh_private_key_file=/Users/sumansn/work/egov/microservices/kubernetes/minion2/.vagrant/machines/default/virtualbox/private_key hostname=minion2 unique_nic=eth1


