environments:
  env:
    values:
      - ../environments/env-secrets.yaml
      - ../environments/env.yaml
---
repositories:
- name: bitnami
  url: https://charts.bitnami.com/bitnami

templates: 
  default: &default
    chart: ./{{`{{ .Release.Name }}`}}
    labels:
      target: ./{{`{{ .Release.Name }}`}}
    namespace: backbone
    missingFileHandler: Warn
    values:
      - {{ .Values | toYaml | nindent 8 }}

releases:
  - name: pgadmin
    installed: true
    <<: *default

  - name: kafka-connect
    installed: true
    <<: *default

  - name: playground
    installed: true
    <<: *default
