apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: egov-filestore
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx"  
    nginx.ingress.kubernetes.io/proxy-body-size: 8m
    nginx.ingress.kubernetes.io/limit-rpm: "100"
spec:
  rules:
  - host: {{ .Values.global.domain }}
    http:
      paths:
      - backend:
          serviceName: zuul
          servicePort: 8080
        path: /{{ .Values.ingress.context }}  
