# Flanneld configuration options

# etcd url location.  Point this to the server where etcd runs
FLANNEL_ETCD="{{ groups['etcd'] | map('map_format', 'http://%s:2379') | join(',') }}"

# etcd config key.  This is the configuration key that flannel queries
# For address range assignment
FLANNEL_ETCD_KEY="{{ kubernetes_pod_network_config_key }}"

# Any additional options that you want to pass
#FLANNEL_OPTIONS=""