apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: /etc/kubernetes/keys/ca.pem
    server: https://{{ groups['master'][0] }}:6443
users:
- name: kube-worker
  user:
    client-certificate: /etc/kubernetes/keys/worker.pem
    client-key: /etc/kubernetes/keys/worker-key.pem
contexts:
- context:
    cluster: local
    user: kube-worker
  name: kubelet-context
current-context: kubelet-context