###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
# Do not enable this. We want the node to be enabled by its hostname
#KUBELET_HOSTNAME="--hostname-override=10.0.0.150"
#KUBELET_HOSTNAME="--hostname-override={{ ansible_eth1['ipv4']['address'] }}"

# location of the api-server
KUBELET_API_SERVER="--api-servers=https://{{ groups['master'][0] }}:6443"

# Add your own!
KUBELET_ARGS="--cluster_dns={{ dns_ip }} --cluster_domain=cluster.local --kubeconfig=/etc/kubernetes/worker-kubeconfig.yml --require-kubeconfig=true"
